@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #3498db;
  --secondary-color-: #f1c40f;
  --accent-color: #e74c3c;
  --background-color: #fff;
  --text-color: #333333;
  --hover-color: #2980b9;
  --active-color: #1a1d23;
}
body {
  background-color: var(--background-color);
}

