/* General styles */

.container {
	--max-width: 1200px;
	--padding: 1rem;
	width: min(var(--max-width), 100% - (var(--padding) * 2));
	margin-inline: auto;
}
.inline-flex {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.grid {
	display: grid;
	place-items: center;
}

/*landing page section*/
/* Navbar styles */

.navbar {
	position: sticky;
	top: 0;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	height: 72.5px;
	padding: var(--size-300);
}

.logo {
	display: flex;
	justify-items: space-between;
	align-items: center;
}
.logo > a,
.footer-logo > a {
	font-size: clamp(1.15rem, 2.5vw, 1.25rem);
	font-weight: var(--fw-bold);
}
.logo > a > span,
.footer-logo > a > span {
	font-weight: 300;
}
.nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-wrapper > li {
	position: relative;
	padding: var(--size-400);
}
.nav-wrapper> li>a:hover{
	opacity: .75;
	transition: all .3s ;
}

.dropdown-icon {
	color: var(--clr-neutral-100);
}

.primary-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.activeClass {
	font-weight: 500;

	border-bottom: 3px solid var(--clr-primary-400);
}
.inActiveClass {
	font-weight: 500;
	color: var(--clr-neutral-900);
	border-bottom: 3px solid var(--clr-neutral-900);
}
.icon {
	display: none;
}
.toggle {
	cursor: pointer;
}
.dropdown-menu {
	background-color: var(--clr-neutral-900);
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 115px;
	height: 175px;
	top: 62.95px;
	left: 0px;
}

.dropdown-button {
	position: absolute;
	border: none;
	outline: none;
	background-color: transparent;
}

.dropdown-menu > li {
	cursor: pointer;
	padding: var(--size-300);
}
.dropdown-menu > li > a {
	padding: var(--size-100);
}
.dropdown-menu > li > a:hover {
	background-color: var(--clr-primary-400);
	color: var(--clr-neutral-100);
}

.columns {
	display: grid;
	gap: 1rem;
}
.button {
	line-height: 1;
	cursor: pointer;
	display: inline-flex;
	border-radius: 100vmax;
	padding: 1rem;
	font-weight: var(--fw-bold);
	margin:0 1rem;
	color: var(--clr-primary-100);
	background-color: var(--clr-primary-400);
	border: 1px solid var(--clr-primary-400);
	font-size: clamp(0.8rem, 2.5vw, 1rem);
}

.icon {
	display: none;
}
.icon-nav {
	background-color: transparent;
	color: var(--clr-primary-400);
}
.iconA {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 20%;
	background-color: var(--clr-primary-400);
	color: var(--clr-neutral-100);
}

.image-fluid {
	--max-width: 450px;
	--padding: 1rem;
	width: min(var(--max-width), 100% - (var(--padding) * 2));
	margin-inline: auto;
}

.heading {
}
.article {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.articleTwo {
	margin: 0;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}
.button:hover,
.button:focus-visible {
	background-color: var(--clr-neutral-100);
	color: var(--clr-primary-400);
}

.flow {
	text-align: center;
	--max-width: 1024px;
	--padding: 1rem;
	width: min(var(--max-width), 100% - (var(--padding) * 2));
	margin-inline: auto;
}
.flow > p:nth-child(1) {
	font-size: clamp(2rem, 2.5vw, 2.5rem);
}
.flow > p {
	font-size: clamp(1rem, 2.5vw, 1.15rem);
}

:where(.flow :not(:first-child)) {
	margin-top: 1.5rem;
}
.headerNumber {
	padding: 1rem 0;
}
.values {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}
.values-content {
	padding: 1rem;


}


/* Courses page section */

.search-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search {
	display: flex;
	border-radius: 100vmax;
	width: 300px;
	padding: 0.5rem;
	margin: 1rem;
	border: 2px solid var(--clr-neutral-100);
	background-color: var(--clr-neutral-100);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px 0px;
}
.search:focus-within {
	transition: all ease 0.3s;
	border: 2px solid var(--clr-secondary-100);
}

.search-input {
	width: 230px;
	outline: none;
	border: none;
	background-color: transparent;
	margin: 0 0.5rem;
	padding: 0 0.5rem;
}

.search-button {
	font-size: clamp(0.9rem, 2.5vw, 1rem);
	border-radius: 100vmax;
	display: inline-flex;
	justify-content: center;
	padding: 0.65rem;
	margin: 0.5rem;
	width: clamp(5rem, 2.5rem, 0.6rem);
	color: var(--clr-primary-100);
	border: 1px solid var(--clr-primary-400);
	background-color: var(--clr-primary-400);
}
.search-button:hover {
	background-color: transparent;
	color: var(--clr-primary-400);
	border: 1px solid var(--clr-primary-400);
	transition: all ease-in 0.2s;
}
.card {
	display: grid;
	width: calc(100% - 1rem);
	max-width: 100%;
	height: 300px;
	position: relative;
	border-radius: 0.5rem;
	box-shadow: 0 0.25em 0.75em hsl(1 1% 1% / 20%);
	border: 1px solid var(--clr-neutral-400);
	 

}

.course-container {

	display: grid;
	place-items: center;
	gap: clamp(2rem, 5rem, 1.625rem);
	grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}
.card > img {
	display: block;
	object-fit: cover;
	height: 12.25rem;
	width: 100%;
	max-width: 100%;
	border-radius: 0.5rem;

}
.card > *:not(img:first-child) {
	margin-inline: var(--size-100);
}

.card > *:not(:first-child) {
	margin-block-start: var(--size-100);
}

.secondary-button, .tertiary-button {
	line-height: 1;
	font-size: clamp(0.9rem, 2.5vw, 1rem);
	cursor: pointer;
	display: inline-flex;
	border-radius: 50vmax;
	padding: 0.75rem 1.25rem;
	font-weight: var(--fw-bold);
	color: var(--clr-neutral-100);
	border: 1px solid var(--clr-secondary-400);
outline: none;
	background-color: var(--clr-secondary-400);
}
.secondary-button:hover{
	background-color: transparent;
	color: var(--clr-secondary-400);
}
.tertiary-button{
	color: var(--clr-neutral-400);
	border: 1px solid var(--clr-secondary-100);
	background-color: var(--clr-secondary-100);
}

.cardButton {
	position: absolute;
	bottom: 1rem;
}
.cardButton:hover {
	background-color: var(--clr-secondary-100);
	color: var(--clr-secondary-400);
	border: 1px solid var(--clr-secondary-400);
	transition: all ease-in 0.2s;
}
.cardTitle {
	font-size: clamp(0.9rem, 2.5vw, 0.9rem);

	position: absolute;
	bottom: 4rem;
	text-align: center;
}
.cardBio {
	position: absolute;
	bottom: 5rem;
	color: var(--clr-secondary-400);
}

.card > .search-button {
	position: absolute;
	bottom: 0rem;
}
/* Contact page */

.columns form div > input {
	width: 100%;
	max-width: 500px;
	font-size: var(--fs-400);
	outline: none;
	border: none;
	border-bottom: 2px solid var(--clr-neutral-400);
}
.columns .form-flex > label {
	margin: 0;
	padding: 0;
}
.form-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 75px;
}
.contact {
	display: grid;
	gap: 1rem;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 1rem;
}
.send {
	display: grid;
	place-items: center;
}

.infoSection {
	width: 100%;
	max-width: 500px;
	border-radius: 5px;
}
.infoFlex {
	display: flex;
	align-items: center;
	padding: 0.75rem;
}
.fa-icon {
	height: 100%;
	margin: 1rem;
	color: var(--clr-primary-400);
}
/* resources page styles */

.resources {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
	gap: 1rem;
}
.sidebar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	box-shadow: 0 0.15em 0.5em hsl(1 1% 1% / 20%);
}
.sidebar-content {
}

.tabs {
}
.tabs > button {
	outline: none;
	border: none;
	font-size: var(--fs-500);
	background: transparent;
	color: gray;
	line-height: 1;
	cursor: pointer;
	display: inline-flex;
	padding: 1.25em 1.55em;
}

:where(.tabs > button :not(:first-child)) {
	padding: 0rem;
}
.resource {
	box-shadow: 0 0.25em 0.75em hsl(1 1% 1% / 20%);
}
/* Carousel-container*/
.carousel-wrapper {
	display: flex;
	gap:1rem;
	
	

}
.carousel-container {
	border-radius: 0.5rem;
	padding: 1rem;
	color: var(--clr-neutral-900);
	box-shadow: 0 0.15em 0.5em hsl(1 1% 1% / 20%);
	background-color: var(--clr-neutral-100);
	border: 1px solid var(--clr-neutral-400);
	transition:transform 300ms ease 100ms;

}
.carousel-container:hover{
	transform: scale(1.1) !important;

}

.carousel-container:hover ~ .carousel-container {
	transform: translateX(30%);
 }


.carousel-container > h4 {
}
.carousel-container:hover .carousel-container{
	transform: translateX(-25%);
}
.person {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.img-area {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-inline: auto;
}
.img-area > img {
	width: 100%;
	border-radius: 50%;
}
.person > p {
	font-size: clamp(1.2rem, 2.5vw, 0.1rem);
}
.carousel-container > blockquote {
	font-size: clamp(0.9rem, 2.5vw, 0.1rem);
}

/* Community Section */
.subscribe{

}
.subscribe-container{
	display: flex;
	border-radius: 100vmax;
	width: 375px;
	border: 1px solid var(--clr-neutral-900);
	background-color: var(--clr-neutral-100);
}
.subscribe > form {
	width: 300px;
}
.subscribe-container> input {
	width: 300px;
	outline: none;
	border: none;
}
.subscribe > form > input::placeholder {
}

.subscribe-button {
	padding: var(--size-100);
	margin: 0.5rem;
	color: var(--clr-primary-400);
	background-color: transparent;
	border:none;
}
.subscribe-button:hover {
	background-color: transparent;
	color: var(--clr-primary-400);
	transition: all 0.3s ease-in;
}
/* Books*/

.booksContainer {
	display: grid;
	gap:1em;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));


}


/* footer container*/
.footer-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer-wrapper {
}
.footer-logo {
	display: flex;
	justify-items: center;
	align-items: center;
}

.footer-nav {
	display: flex;
}
.footer-navigation {
	padding: 1rem;
}
.footer-navigation > ul > li {
	padding: 0.5rem;
}
.footer-navigation li a:hover {
}
.footer-navigation > li > a {
	border: none;
}
.footer-links > li {
}


.social-link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.5rem 0;
}

.social-link > li {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	margin: 0.5rem;
	background-color: var(--clr-neutral-900);
	color: var(--clr-neutral-100);
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.social-link > li:hover {
	transform: scale(1.2);
	transition: all 0.4s ease-in-out;
}


@media (min-width: 50em) {
	.columns {
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
	}

	.card > img {
	}
}
@media (max-width: 50em) {
	.container {
	}
	.navbar {
		width: 100%;
	}
	.primary-navigation {
	}
	.nav-wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		position: absolute;
		top: 65px;
		left: -100%;
	}

	.icon {
		display: block;
	}

	.nav-wrapper.active {
		position: absolute;
		left: 0;
		display: flex;
		align-items: center;
		flex-direction: column;
		background-color: var(--clr-neutral-900);
		color: var(--clr-neutral-100);
		padding: var(--size-300);

		width: 100%;
	}
	.nav-wrapper > li {
		position: relative;
		text-align: start;
		padding: var(--size-400);
	}

	.nav-wrapper > li:nth-child(2) {
		position: relative;
	}
	.activeClass,
	.inActiveClass {
		border: none;
	}
	.dropdown-icon {
		color: var(--clr-neutral-100);
	}
	.dropdown-menu {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--clr-neutral-900);
		top: 10px;
		height: 175px;
		left: 0px;
	}
	.dropdown-menu.active {
	}
	.dropdown-menu > li {
		padding: var(--size-300);
	}

	.footer-container{
		display: flex;
	}
}
