.container {
	--max-width: 1200px;
	--padding: 1rem;
	width: min(var(--max-width), 100% - (var(--padding) * 2));
	margin-inline: auto;
}
.inline-flex {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.grid{
	display: grid;
	place-items: center;
}

/*landing*/
.navbar {
	background-color: #fff;
	position: sticky;
	top: 0;
margin: 0 auto;
padding: 1rem;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo > h1 {
	font-size: clamp(1rem, 2.5vw, 1.15rem);

}
.nav-wrapper {
	display: flex;

}
.nav-wrapper li {
	display: flex;
	align-items: center;
	position: relative;
	padding: var(--size-400);

}
.nav-wrapper li a {
}


.primary-navigation {
	padding: 1rem;
}
.activeClass {
	border-bottom: 3px solid var(--clr-primary-400);
}
.inactiveClass {
	opacity: 0.75;
	color: var(--clr-secondary-100);
}
.icon {
	display: none;
}
.toggle {
	cursor: pointer;
	padding: 0.5em;
}
.dropdown{
display: flex;
flex-direction: column;
background-color: var(--clr-neutral-100);
}
.dropdown >li{
	padding: var(--size-300);
}


  
  
.columns {
	display: grid;
	gap: 1rem;
}
.button {
	line-height: 1;
	cursor: pointer;
	display: inline-flex;
	border-radius: 100vmax;
	padding: 1.25em 1.55em;
	font-weight: var(--fw-bold);
	color: var(--clr-primary-100);
	background-color: var(--clr-primary-400);
	border: 0;
	font-size: clamp(.8rem, 2.5vw, 1rem);
}

.icon {
	display: none;
}
.icon-nav {
	margin: 0.5rem 0.3rem;
	background-color: var(--clr-neutral-100);
	color: var(--clr-primary-400);
}
.iconA {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: var(--clr-primary-400);
	color: var(--clr-neutral-100);
}
.image-fluid {
	--max-width: 450px;
	--padding: 1rem;
	width: min(var(--max-width), 100% - (var(--padding) * 2));
	margin-inline: auto;
}

.heading {
}
.article {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.articleTwo {
	margin: 0;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}
.button:hover,
.button:focus-visible {
	background-color: var(--clr-primary-100);
	color: var(--clr-primary-400);
}

.flow {
text-align: center;
	--max-width: 1024px;
	--padding: 1rem;
	width: min(var(--max-width), 100% - (var(--padding) * 2));
	margin-inline: auto;
}
.flow> h2{
	font-size: clamp(2rem, 2.5vw, 2.5rem);

}
.flow> p{
	font-size: clamp(1rem, 2.5vw, 1.15rem);

}
:where(.flow :not(:first-child)) {
	margin-top: 1.5rem;
}
.headerNumber {

	padding: 1rem 0;
}
.values {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));


}

/* Testominal*/
.testmonial:has(img) {
	grid-template-columns: 5rem 1fr;
}

.testmonial:has(p + p) > p {
	grid-column: 2/3;
}

/* Courses section */

.search-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search {
	display: flex;
	border-radius: 100vmax;
	width: 300px;
	padding: 0.5rem;
	margin: 1rem;
	border: 2px solid var(--clr-neutral-100);
	background-color: var(--clr-neutral-100);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px 0px;
}
.search:focus-within {
	transition: all ease 0.3s;
	border: 2px solid var(--clr-secondary-100);
}
.serach-icon {
}
.search-input {
	width: 230px;
	outline: none;
	border: none;
	background-color: transparent;
	margin: 0 0.5rem;
	padding: 0 0.5rem;
}

.search-button {
	font-size: clamp(0.8rem, 2.5vw, .8rem);
	border-radius: 100vmax;
	display: inline-flex;
	justify-content: center;
	padding: .65rem;
	margin: .5rem;
	width: clamp(5rem, 2.5rem, .6rem);
	color: var(--clr-neutral-100);
	border: 1px solid var(--clr-primary-400);
	background-color: var(--clr-primary-400);
}

.card {
	display: grid;
	width: calc(100% - 1rem);
	max-width: 100%;
	height: 300px;
	position: relative;
	border-radius: 0.5rem;
	box-shadow: 0 0.25em 0.75em hsl(1 1% 1% / 20%);
}

.course-container {
	--min-column-size: 18rem;

	display: grid;
	place-items: center;
	gap: clamp(2rem, 5rem, 1.625rem);
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.card > img {
	display: block;
	object-fit: cover;
	height: 12.25rem;
	width: 100%;
	max-width: 100%;
	border-radius: 0.5rem;
}
.card > *:not(img:first-child) {
	margin-inline: var(--size-100);
}

.card > *:not(:first-child) {
	margin-block-start: var(--size-100);
}

.secondary-button {
	line-height: 1;
	font-size: clamp(0.5rem, 2.5vw, 1rem);

	cursor: pointer;
	display: inline-flex;
	border-radius: 50vmax;
	padding: 0.75rem 1.25rem;
	font-weight: var(--fw-bold);
	color: var(--clr-neutral-100);
	background-color: var(--clr-secondary-400);
	border: 0;
}

.cardButton {
	font-size: clamp(0.9rem, 2.5vw, 1rem);
	position: absolute;
	bottom: 1rem;
}
.cardTitle {
	font-size: clamp(0.9rem, 2.5vw, .9rem);

	position: absolute;
	bottom: 4rem;
	text-align: center;
}
.cardBio {
	position: absolute;
	bottom: 5rem;
	color: var(--clr-secondary-400);
}

.card > .search-button {
	position: absolute;
	bottom: 0rem;
}
/* Contact page */

.columns form div > input {
	width: 100%;
	max-width: 500px;
	font-size: var(--fs-400);
	outline: none;
	border: none;
	border-bottom: 2px solid var(--clr-neutral-400);
}
.columns .form-flex > label {
	margin: 0;
	padding: 0;
}
.form-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 75px;
}
.contact {
	display: grid;
	gap: 1rem;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 1rem;
}
.send {
	display: grid;
	place-items: center;
}

.infoSection {
	width: 100%;
	max-width: 500px;
	border-radius: 5px;
}
.infoFlex {
	display: flex;
	align-items: center;
	padding: 0.75rem;
}
.fa-icon {
	height: 100%;
	margin: 1rem;
	color: var(--clr-primary-400);
}
/* resources page */

.resources {
	display: grid;
	/*grid-template-columns: minmax(100px, 25%) 1fr;*/
	grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
	gap:1rem;


}
.sidebar{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
	height: 100%;
	box-shadow: 0 0.15em 0.50em hsl(1 1% 1% / 20%);

}
.sidebar-content{

	
}

.tabs {


}
.tabs > button {
	outline: none;
	border: none;
	font-size: var(--fs-500);
	background: transparent;
color: gray;	
line-height: 1;
	cursor: pointer;
	display: inline-flex;
	padding: 1.25em 1.55em;
}

:where(.tabs > button :not(:first-child)) {
	padding: 0rem;
}
.resource {
	box-shadow: 0 0.25em 0.75em hsl(1 1% 1% / 20%);
}
/* footer container*/
.footer {
	display: flex;
	padding: var(--size-300);

	flex-direction: column;
	justify-items: center;
}
.footer-navigation {
	display: flex;
	justify-content: space-between;
}
.footer-navigation li {
	padding: var(--size-200);
}
.footer-navigation li a:hover {
	background-position: 50% 150%;

	background-size: 400%;
	border-radius: 5px;
	background-image: linear-gradient(
		to right,
		var(--clr-primary-400),
		var(--clr-secondary-100)
	);
}
.footer-navigation li a {
	border: none;
	padding: var(--size-200);
}
.footer > p {
	text-align: center;
	padding: var(--size-300);
}

@media (min-width: 50em) {
	.columns {
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
	}

	.card > img {
	}
}
@media (max-width: 50em) {
	.container {
	}
	.navbar {
		width: 100%;
	}
	.primary-navigation {
	}
	.nav-wrapper {
		display: none;
		position: absolute;
		top: 80px;
		left: -100%;
		text-align: center;
		background-color: black;
	}

	.icon {
		display: block;
	}

	.nav-wrapper.active {
		top: 100%;
		color: var(--bg-color);
		left: 0;
		margin:.25rem auto;
		display: flex;
align-items: center;
		flex-direction: column;
		background-color: var(--clr-neutral-100);
		color: var(--clr-neutral-400);
		width: 100%;
		padding: var(--size-700);
		border-radius: var(--size-100);
		box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
	}

	.course-container {
	}
}
